<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layout">
<head>
  <title th:text="#{eduproxy.title}"></title>
</head>
<body>
<div layout:fragment="content">

  <section class="welcome">
    <div th:replace="fragments/_landing_info_en :: landing_info_en"></div>
    <div th:replace="fragments/_landing_info_nl :: landing_info_nl"></div>

    <div sec:authorize="!hasRole('ROLE_USER')">
      <a class="button_submit_large" th:text="#{eduproxy.login_central_idp}" th:href="@{/saml/login}">Login</a>
    </div>
  </section>



</div>
</body>
</html>
